@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200&display=swap");

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

/* Header */
.header {
  margin: 0;
  padding: 1px;
  background-color: rgb(206, 94, 128);
  display: flex;
  justify-content: center;
  align-items: center;
}
.header i {
  padding-right: 1rem;
  font-size: 2.5rem;
  color: white;
}
.header--title {
  color: white;
  font-weight: 400;
}
/* end of Header */

/* Card */
.card--container {
  margin-top: 4rem;
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;
}
.card--img {
  height: 35rem;
  margin: 0 2rem 0 2rem;
  border-radius: 2rem;
}
.country--container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  max-height: 3vh;
}
.card--country {
  padding: 0 1rem 0 .3rem;
}
.card--link {
  color: rgb(104, 102, 102);
}
.card--link:hover {
  color:rgb(206, 94, 128);
}
.card--location {
  font-size: 2.5rem;
  font-weight: 600;
  margin: 0;
}
.card--date {
  font-size: 1rem;
  font-weight: 500;
  margin-top: 2rem;
}
.card--details p {
  margin-top: .5rem;
}
.card--description {
  max-width: 40rem;
}
.country--container i {
  color:rgb(206, 94, 128);
}
/* end of Card */


